<html>
<head>
</head>
<body>
<div>
<form method="post" action="/home/editBook">

    <table>
        <tr>
            <td>图书编号</td>
            <td><input type="text" readonly="readonly" name="bookid" value="{{.BookId}}"></input></td>
        </tr>
    	<tr>
    		<td>图书编码</td>
    		<td><input type="text" name="code" value="{{.BookCode}}"></input></td>
    	</tr>
    	<tr>
    		<td>图书名称</td>
    		<td><input type="text" name="name" value="{{.BookName}}"></input></td>
    	</tr>
    	<tr>
    		<td></td>
    		<td>
    			<input type="submit" name="btnEditBook" value="- 修改 -"></input>
    		</td>
    	</tr>
    </table>
</form>
</div>
<body>
</html>