
<div style="width: 980px; margin: 0 auto;">
<h1>欢迎登录</h1>
<br/>
<form method="post" action="/home/login">
	<table>
		<tr>
	  		<td>账户：</td>
	  		<td><input name="account" type="text"></input></td>
		</tr>
		<tr>
	  		<td>密码：</td>
	 	 	<td><input name="password" type="password"></input></td>
		</tr>

		<tr>
	  		<td></td>
	 	 	<td><input type="submit" name="btnLogin" value="- 登录 -"></input></td>
		</tr>

		<tr>
	  		<td></td>
	 	 	<td>[<a href="/home/regist"> - 注册 - </a>]</td>
		</tr>
	</table>
</form>
</div>