<div style="width: 980px; margin: 0 auto;">
<h2>注册</h2>
<div><i>以下信息必须全部输入：</i></div>
<br/>
<form method="post" action="/home/regist">
	<table>
		<tr>
	  		<td>账户：</td>
	  		<td><input name="account" type="text"></input></td>
		</tr>
		<tr>
	  		<td>密码：</td>
	 	 	<td><input name="password" type="password"></input></td>
		</tr>

		<tr>
	  		<td></td>
	 	 	<td><input type="submit" name="btnRegist" value="- 注册 -"></input></td>
		</tr>

		<tr>
	  		<td></td>
	 	 	<td>[<a href="/home/login"> - 登录 - </a>]</td>
		</tr>
	</table>
</form>
</div>